[Desktop Entry]
Version=1.0
Name=VESTX
Comment=Connect to the VESTX P2P Network
Comment[de]=Verbinde mit dem VESTX peer-to-peer Netzwerk
Comment[fr]=VESTX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VESTX, eşten eşe kriptografik sanal para birimi
Exec=vestx-qt %u
Terminal=false
Type=Application
Icon=vestx128
MimeType=x-scheme-handler/vestx;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=VESTX-qt
